{% extends 'base.html.twig' %}


{% block body %}
    {% for message in app.flashes('order') %}
        <div class="flashMessage">
            {{ message }}
        </div>
    {% endfor %}
    <section class="hero">
        <img class="hero img-fluid" src="images/Hero.png" alt="hero">
    </section>
    <section class="wrapper">
        <div class="container">

            <div class="row">
                <div class="col-sm-4">
                    <div class="card text-white card-has-bg click-col"
                         style="background-image: url('https://i.pinimg.com/originals/fb/13/7c/fb137cf4efc5ec8b33b659b7262bf967.png')">
                        <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street"
                             alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
                        <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <small class="card-meta mb-2">Cocktails</small>
                                <h4 class="card-title mt-0 "><a class="text-white" herf="#">The all new Tequila
                                        Sunrise</a></h4>
                                <small><i class="far fa-clock"></i>And include a bartender if you need one!</small>
                            </div>
                            <div class="card-footer">
                                <div class="media">
                                    <img class="mr-3 rounded-circle"
                                         src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png"
                                         alt="Generic placeholder image" style="max-width:50px">
                                    <div class="media-body">
                                        <h6 class="my-0 text-white d-block">Pierre Mertens</h6>
                                        <small>This blew my mind! So good!!</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-white card-has-bg click-col"
                         style="background-image:url('https://images.vexels.com/media/users/3/128809/isolated/preview/c67aef3d02b7b2eb9cfb953fe776d224-stack-of-cardboard-boxes-by-vexels.png');">
                        <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tree,nature"
                             alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
                        <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <small class="card-meta mb-2">Cocktail Kits</small>
                                <h4 class="card-title mt-0 "><a class="text-white" herf="#">Make them yourself!</a></h4>
                                <small><i class="far fa-clock"></i>Delivered right to your doorstep</small>
                            </div>
                            <div class="card-footer">
                                <div class="media">
                                    <img class="mr-3 rounded-circle"
                                         src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png"
                                         alt="Generic placeholder image" style="max-width:50px">
                                    <div class="media-body">
                                        <h6 class="my-0 text-white d-block">Lydia Verscheire</h6>
                                        <small>So handy! Perfect for a nice evening!</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-white card-has-bg click-col"
                         style="background-image:url('https://www.pngitem.com/pimgs/m/141-1411586_bar-tender-png-transparent-png.png');">
                        <img class="card-img d-none" src="https://source.unsplash.com/600x900/?computer,design"
                             alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
                        <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <small class="card-meta mb-2">Flairing course</small>
                                <h4 class="card-title mt-0 "><a class="text-white" href="#">Learn the art of flairing
                                        yourself</a></h4>
                                <small><i class="far fa-clock"></i>With step-by-step training video's!</small>
                            </div>
                            <div class="card-footer">
                                <div class="media">
                                    <img class="mr-3 rounded-circle"
                                         src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png"
                                         alt="Generic placeholder image" style="max-width:50px">
                                    <div class="media-body">
                                        <h6 class="my-0 text-white d-block">Oz COruhlu</h6>
                                        <small>Director of UI/UX</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>


    <section class="why">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <a href="{{ path('cocktail_show', {'id': cocktails[0].id}) }}">
                        <img src="{{ cocktails[0].image }}" class="d-block w-100" alt="...">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="{{ path('cocktail_show', {'id': cocktails[1].id}) }}">
                        <img src="{{ cocktails[1].image }}" class="d-block w-100" alt="...">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="{{ path('cocktail_show', {'id': cocktails[2].id}) }}">
                        <img src="{{ cocktails[2].image }}" class="d-block w-100" alt="...">
                    </a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"> <span
                        class="carousel-control-prev-icon" aria-hidden="true"></span> <span
                        class="sr-only">Previous</span>
            </a> <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"> <span
                        class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span>
            </a>
        </div>
    </section>



{% endblock %}
