{% extends 'base.html.twig' %}

{% block title %}Cocktail index{% endblock %}

{% block body %}
    <h1>Cocktail index</h1>



        {% for cocktail in cocktails %}
<div class="card m-5 " style="width: 20rem;"  id="cocktail-cards" >
    <a href="{{ path('cocktail_show', {'id': cocktail.id}) }}"><img src="{{ cocktail.image }}" width="100%" class="p-2">
    <div class="card-body">
        <h5 class="card-title">{{ cocktail.name }}</h5>
        <p class="card-text">{{ cocktail.isAlcoholic ? 'Yes' : 'No' }}</p>
    </div>
</div>




        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}



    <a href="{{ path('cocktail_new') }}">Create new</a>
{% endblock %}
