{% extends 'base.html.twig' %}

{% block title %}ShoppingLine index{% endblock %}

{% block body %}
    <h1>ShoppingLine index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shopping_line in shopping_lines %}
            <tr>
                <td>{{ shopping_line.id }}</td>
                <td>{{ shopping_line.quantity }}</td>
                <td>
                    <a href="{{ path('shopping_line_show', {'id': shopping_line.id}) }}">show</a>
                    <a href="{{ path('shopping_line_edit', {'id': shopping_line.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('shopping_line_new') }}">Create new</a>
{% endblock %}
