{% extends 'base.html.twig' %}

{% block title %}ShoppingLine{% endblock %}

{% block body %}
    <h1>ShoppingLine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shopping_line.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ shopping_line.quantity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('shopping_line_index') }}">back to list</a>

    <a href="{{ path('shopping_line_edit', {'id': shopping_line.id}) }}">edit</a>

    {{ include('shopping_line/_delete_form.html.twig') }}
{% endblock %}
