
    <footer >
        <div class="parallax-container ">
            <div class="street"></div>
        </div>
        <div class="footer-distributed">

        <div class="footer-left">
            <img class="footer-logo" src="{{ asset('/images/brandname.svg') }}" alt="brandName">
            <h3>Cocktails<span>freshly served at your home!</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="{{ path('contact') }}">About us</a>
                |
                <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">© 2021 cheerzz</p>
        </div>

        <div class="footer-center">
            <div>
                <p><span>Justitiestraat, 2018 Antwerpen</span></p>
            </div>

            <div>
                <p>+32 485 52 20 45</p>
            </div>
            <div>
                <p><a href="mailto:support@eduonix.com">cheerz@info.com</a></p>
            </div>
        </div>

        <div class="footer-right">
            <p class="footer-company-about">
                <span>About cheerzz</span>
                Making summers greater than ever with our homemade cocktails at your door, for you to enjoy or made live by one of our bartenders</p>
            <div class="social-links footer-links">
                <a href="#" target="_blank" rel="noopener" class="socials nav-link">
                    <img class="social-icons" src="{{ asset('images/facebook.svg') }}" alt="facebook"></a>
                <a href="#" target="_blank" rel="noopener" class="socials nav-link">
                    <img class="social-icons" src="{{ asset('images/instagram.svg') }}" alt="instagram"></a>
                <a href="#" target="_blank" rel="noopener" class="socials nav-link">
                    <img class="youtube social-icons" src="{{ asset('images/youtube.svg') }}" alt="youtube"></a>
            </div>
        </div>
        </div>
    </footer>

