<div class="col-8 mx-auto text-center">

    {{ form_start(form, { 'attr': {'autocomplete': 'off'} }) }}

    <div class="formgroup text-center">
        {{ form_label(form.name,'Cocktail name', {'label_attr': {'class': ''}}) }}
        {{ form_widget(form.name,{'attr': {'class': 'form-control form-control col-8 mx-auto'}}) }}
    </div>

    <div class="formgroup text-center">
        {{ form_label(form.glass,'Served in', {'label_attr': {'class': ''}}) }}
        {{ form_widget(form.glass, {'attr': {'class': 'form-control form-control col-8 mx-auto'}}) }}
    </div>

    <ul class="display-block" id="ingredientsAndMeasurements-fields-list"
        data-prototype="{{ form_widget(form.ingredientsAndMeasurements.vars.prototype)|e }}"
        data-widget-tags="{{ 'li'|e }}"
        data-widget-counter="{{ form.ingredientsAndMeasurements|length }}">
        {% for ingredientsAndMeasurementsField in form.ingredientsAndMeasurements %}
            <li>
                {{ form_errors(ingredientsAndMeasurementsField) }}
                {{ form_widget(ingredientsAndMeasurementsField) }}
            </li>
        {% endfor %}
    </ul>

    <datalist id="ingredient_suggestion">
        <option id="ingredient_suggestion_option" value=""></option>
    </datalist>

    <button type="button" id="add-another-ingredient" data-list-selector="#ingredientsAndMeasurements-fields-list">
        Add to your cocktail
    </button>

    <button type="button" class="" id="confirm-ingredient" style="display: none">Confirm ingredient</button>

    {{ form_row(form.instructions) }}

    <button type="submit" class="btn-success d-block">{{ button_label|default('Save') }}</button>

    {{ form_end(form) }}

    <script src="{{ asset('scripts/myOwnCocktail.js') }}"></script>
</div>




