{% extends 'base.html.twig' %}

{% block title %}HomeBrew index{% endblock %}

{% block body %}

    <h1 class="text-center title-homeBrew">My own cocktails</h1>
<div class="col-8 mx-auto text-center m-5 pb-5">
    <table class="table">
        <thead>
        <tr>

            <th>Name</th>
            <th>Glass</th>
            <th>Ingredients And Measurements</th>
            <th>Instructions</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for home_brew in home_brews %}
            <tr>

                <td>{{ home_brew.name }}</td>
                <td>{{ home_brew.glass }}</td>
                <td>
                    <ul>
                        {% for items in home_brew.ingredientsAndMeasurements %}
                            <li>{{ items|join(', ') }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ home_brew.instructions }}</td>
                <td>
                    <a href="{{ path('home_brew_show', {'id': home_brew.id}) }}"  class="btn btn-light">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('home_brew_new') }}" class="btn btn-warning">Create new</a>
</div>
{% endblock %}
