{% extends 'base.html.twig' %}

{% block title %}My ShoppingCart{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<h1>my shopping cart</h1>







    <div class="small-container cart-page">
        {% for shoppingLine in shopping_lines %}
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            <tr>
                <td>
                    <div class="cart-info">
                        <img class="cart-img" src="https://www.thecocktaildb.com/images/ingredients/{{  shoppingLine.Product.name }}.png" alt="">
                        <div>
                            <p>{{ shoppingLine.Product.name}}</p>
                            <small>{{ shoppingLine.Product.price }}</small>
                            {{ include('shopping_line/_delete_form.html.twig') }}
                            <a href="">Remove</a>
                        </div>
                    </div>
                </td>
                <td>
                    {{ include('shopping_line/_edit_amount.html.twig') }}
                </td>
                <td>{{ shoppingLine.calculatePrice(shoppingLine.product) }}</td>
            </tr>
        </table>
{% endfor%}
    <div class="total-price">
        <table>

            <tr>
                <td>Total</td>
                <td>{{ shoppingCart.totalPrice }}</td>
            </tr>
        </table>
    </div>

    </div>



{% endblock %}
